In [5]:
import urllib
import pandas as pd
train_data_url = "http://statweb.stanford.edu/~tibs/ElemStatLearn/datasets/vowel.train"
test_data_url = "http://statweb.stanford.edu/~tibs/ElemStatLearn/datasets/vowel.test"
train_data_f = urllib.urlretrieve(train_data_url, "train_data.csv")
test_data_f = urllib.urlretrieve(test_data_url, "test_data.csv")
train_df = pd.DataFrame.from_csv('train_data.csv',header=0,index_col=0)
test_df = pd.DataFrame.from_csv('test_data.csv',header=0,index_col=0)

In [12]:
train_df.head()

,y,x.1,x.2,x.3,x.4,x.5,x.6,x.7,x.8,x.9,x.10
row.names,,,,,,,,,,,
1,1,-3.639,0.418,-0.670,1.779,-0.168,1.627,-0.388,0.529,-0.874,-0.814
2,2,-3.327,0.496,-0.694,1.365,-0.265,1.933,-0.363,0.510,-0.621,-0.488
3,3,-2.120,0.894,-1.576,0.147,-0.707,1.559,-0.579,0.676,-0.809,-0.049
4,4,-2.287,1.809,-1.498,1.012,-1.053,1.060,-0.567,0.235,-0.091,-0.795
5,5,-2.598,1.938,-0.846,1.062,-1.633,0.764,0.394,-0.150,0.277,-0.396

In [3]:
test_df.tail()

,y,x.1,x.2,x.3,x.4,x.5,x.6,x.7,x.8,x.9,x.10
row.names,,,,,,,,,,,
458,7,-3.239,3.083,-1.427,-0.202,-0.282,1.421,0.576,0.068,-0.914,0.147
459,8,-3.753,3.605,-0.899,-0.747,-0.401,1.765,0.620,0.754,-0.835,-0.301
460,9,-3.980,2.459,0.068,0.023,0.237,1.029,-0.189,0.521,-0.773,-0.500
461,10,-4.264,2.925,0.065,0.794,0.323,0.515,-1.282,-0.140,-0.863,-0.390
462,11,-3.291,2.324,-0.679,0.285,0.441,0.557,-0.227,0.115,-1.046,0.697

In [19]:
print train_df.shape
print train_df.info()
print test_df.shape
print test_df.info()

(528, 11)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 528 entries, 1 to 528
Data columns (total 11 columns):
y       528 non-null int64
x.1     528 non-null float64
x.2     528 non-null float64
x.3     528 non-null float64
x.4     528 non-null float64
x.5     528 non-null float64
x.6     528 non-null float64
x.7     528 non-null float64
x.8     528 non-null float64
x.9     528 non-null float64
x.10    528 non-null float64
dtypes: float64(10), int64(1)
memory usage: 49.5 KB
None
(462, 11)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 462 entries, 1 to 462
Data columns (total 11 columns):
y       462 non-null int64
x.1     462 non-null float64
x.2     462 non-null float64
x.3     462 non-null float64
x.4     462 non-null float64
x.5     462 non-null float64
x.6     462 non-null float64
x.7     462 non-null float64
x.8     462 non-null float64
x.9     462 non-null float64
x.10    462 non-null float64
dtypes: float64(10), int64(1)
memory usage: 43.3 KB
None

In [21]:
from sklearn.preprocessing import StandardScaler
X = train_df.ix[:,'x.1':'x.10'].values
y = train_df.ix[:,'y'].values
X_std = StandardScaler().fit_transform(X)
print X_std

[[-0.49349673 -1.1357679  -0.29972989 ...,  0.18756833 -0.97882239
  -1.30305373]
 [-0.16749763 -1.06851897 -0.3321334  ...,  0.15563639 -0.57009675
  -0.72068879]
 [ 1.09365913 -0.72537699 -1.52296231 ...,  0.43462072 -0.87381383
   0.06353884]
 ...,
 [-1.55090405  2.16460275 -0.50630225 ..., -0.54350508 -1.73649956
   0.48155539]
 [-1.95108884  2.8086406  -1.59992064 ..., -1.55524345 -0.02405222
   0.69413646]
 [-1.14340518  0.0790237  -0.04590241 ..., -0.61745274  0.25220107
   0.72450518]]

In [23]:
from sklearn.decomposition import PCA
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np
sklearn_pca = PCA(n_components=2)
Xred_pca = sklearn_pca.fit_transform(X_std)
cmap = plt.cm.get_cmap('ChooseAnAppropriatePalette')
mclasses=(1,2,3,4,5,6,7,8,9)
mcolors = [cmap(i) for i in np.linspace(0,1,10)]
plt.figure(figsize=(12, 8))
for lab, col in zip(mclasses,mcolors):
    plt.scatter(Xred_pca[y==lab, 0],Xred_pca[y==lab, 1],label=lab,c=col)
plt.xlabel('Principal Component 1')
plt.ylabel('Principal Component 2')
leg = plt.legend(loc='upper right', fancybox=True)
plt.show()

ImportError: No module named seaborn